{{#field1}}
    <table>
        <tr>
            <td>{{field1}}</td>
            <td>{{field2}}</td>
            <td>{{field3}}</td>
        </tr>
        <tr>
            <td>{{field4}}</td>
            <td>{{field5}}</td>
            <td>{{field6}}</td>
        </tr>
        <tr>
            <td>{{field7}}</td>
            <td>{{field8}}</td>
            <td>{{field9}}</td>
        </tr>
    </table>

    <style>
        td {
            width: 50px;
            height: 50px;
            border: 1px solid #000000;
            text-align: center;
            font-size: 50px;
        }
    </style>
{{/field1}}
