{{>_header}}

{{#savedName}}
    <p>Your name is: {{savedName}}</p>
{{/savedName}}

<form action="/setname" method="post">
    <p>Set your name:</p>
    <input type="text" name="name"/>
    <input type="submit" value="Submit"/>
</form>

{{>_footer}}
