{{>_header}}

<p>Hello, {{name}}</p>

{{#message}}
    <p>{{message}}</p>
{{/message}}

{{>_field2}}

<form action="placeX" method="post">
    <p>Enter your move: </p>
    <input type="text" name="input"/>
    <input type="submit" value="Submit">
</form>

{{>_footer}}
