{{>_header}}

{{>_field}}

<p>Hello, {{name}}</p>

<form action="placeO" method="post">
    <p>Enter your move: </p>
    <input type="text" name="input"/>
    <input type="submit" value="Submit">
</form>

{{>_footer}}
