{{>_header}}

<h1>Tic Tac Toe</h1>

<p>Cool that you are here. You may play tic tac toe. You could be
    Player O.</p>


<form action="/setnameO" method="post">
    <p>Please give me your name:</p>
    <input type="text" name="name"/>
    <input type="submit" value="Submit"/>
</form>

{{>_footer}}
